// Точки медиа запросов
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Цвета
$black: #000;
$white: #fff;
$black-05: transparentize($black, .5);
$mainColor:  rgb(13,83,152);
$accentColor: rgb(245,91,35);

// Пути
$font-path: '/fonts/';
