{% extends './_layout.njk' %}

{% block content %}
    <div class="welcome">
        <div class="welcome__image">
            <div class="welcome__image-label">
            </div>
        </div>

        <div class="demos">
            <div class="demos--vue">
                <div id="vue-app"></div>
            </div>
        </div>
    </div>
{% endblock %}
